<div class="footer-copyright indigo darken-4">

  <div class="row">

    <div class="copyright col s12 m6 left-align white-text">
      © 2022 Copyright Todos os direitos reservados
    </div>

    <div class=" col s6 m3 left-align" >
      <a href="https://www.facebook.com" target="_blank" class="social fa fa-facebook"></a>
      <a href="https://www.twiter.com" target="_blank" class="social fa fa-twitter"></a>
      <a href="https://www.instagram.com" target="_blank" class="social fa fa-instagram"></a>
      <a href="https://www.youtube.com" target="_blank" class="social fa fa-youtube"></a>
    </div>

    <div class="col s6 m3 right-align">
      <span class="white-text ">
        <i class=" tiny material-icons" style="margin:0px 10px 5px 0px">phone</i>0800-000
      </span>
    </div>
    
  </div>

</div>