<nav>
  <div class="nav-wrapper indigo darken-4">
    <a
      routerLink="/home"
      data-target="mobile-demo"
      class="right sidenav-trigger"
    >
      <i class="material-icons">exit_to_app</i>
    </a>
    <a routerLink="/home" class="brand-logo">
      <img
        src="assets/img/logo_horizontal.png"
        alt="logo"
        class="logo-nav"
        style="position: relative"
      />
    </a>
    <a
      routerLink="/perfil"
      data-target="mobile-demo"
      class="left sidenav-trigger"
    >
      <i class="material-icons">person</i>
    </a>
    <a
      routerLink="/adm"
      data-target="mobile-demo"
      class="right sidenav-trigger"
    >
      <i class="material-icons">icon adm</i>
    </a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a routerLink="/perfil" class="logout whit-text"
          >Perfil<i class="material-icons right">person</i></a
        >
      </li>
      <li>
        <a (click)="logout()" class="logout whit-text"
          >Sair<i class="material-icons right">exit_to_app</i></a
        >
      </li>
      <li>
        <a routerLink="/adm" class="logout whit-text"
          >Adm<i class="material-icons right">icon adm</i></a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
