<p>Itens selecionados:</p>
<div class="row">
    <div class="col s12">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header blue-text">
            <i class="material-icons">check_circle</i>Itens selecionados
          </div>
          <div class="collapsible-body">
            <div class="chip">
              <img src="upload-catalogo/cimento-votoram.PNG" alt="">
              Cimento Votoran
              <i class="close material-icons">close</i>
            </div>
            <div class="chip">
              <img src="upload-catalogo/cimento-caue.PNG" alt="">
              Cimento Caué
              <i class="close material-icons">close</i>
            </div>
            <div class="chip">
              <img src="upload-catalogo/tela-arame1.PNG" alt="">
              Tela Amarração
              <i class="close material-icons">close</i>
            </div>
            <div class="chip">
              <img src="upload-catalogo/tijolo-laranja.PNG" alt="">
              Tijolo Cepazzi
              <i class="close material-icons">close</i>
            </div>
            <div class="chip">
              <img src="upload-catalogo/tijolo-vidro.PNG" alt="">
              Tijolo Vitraltec
              <i class="close material-icons">close</i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>