.tituloOrcamento {
    font-size: 40px;
    margin-left: 29%;
    margin-bottom: 5%;
  }

  .btnDownload {
    margin-left: 40%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

.btnVoltar {
    margin-left: 87%;
}