<app-header></app-header>
<main style="margin-bottom: 5%">
  <div class="container" style="padding-top: 5%">
    <h3 class="tituloOrcamento h3-azul-oscuro">Planilha de Orçamento</h3>
  </div>

  <main class="container">
    <router-outlet></router-outlet>
    <div class="row">
      <table class="highlight responsive-table centered">
        <thead>
          <tr>
            <th>CÓDIGO</th>
            <th>PRODUTO</th>
            <th>QUANTIDADE</th>
            <th>FORNECEDOR</th>
            <th>VALOR UNITÁRIO</th>
            <th>VALOR TOTAL</th>
          </tr>
        </thead>

        <tbody class="centered">
          <tr *ngFor="let item of selecao">
            <td>{{ item.produto.id }}</td>
            <td>{{ item.descricaop }}</td>
            <td>{{ item.quantidade }}</td>
            <td>
              <ng-container *ngFor="let prodForn of item.produtoFornecedor">
                <div style="border-bottom: 5px solid pink">
                  <td>{{ prodForn.fornecedor.razaosocial }}</td>
                </div>
              </ng-container>
            </td>
            <td>
              <ng-container *ngFor="let prodForn of item.produtoFornecedor">
                <div>
                  <td>{{ prodForn.preco | currency: "BRL" }}</td>
                </div>
              </ng-container>
            </td>
            <td>
              <ng-container *ngFor="let prodForn of item.produtoFornecedor">
                <div>
                  <td>
                    {{ prodForn.preco * item.quantidade | currency: "BRL" }}
                  </td>
                </div>
              </ng-container>
            </td>
            <hr />
          </tr>
        </tbody>
      </table>

      <table
        hidden
        id="excel_table"
        class="highlight responsive-table centered"
      >
        <thead>
          <tr>
            <th>CÓDIGO</th>
            <th>PRODUTO</th>
            <th>QUANTIDADE</th>
            <th>FORNECEDOR</th>
            <th>VALOR UNITÁRIO</th>
            <th>VALOR TOTAL</th>
          </tr>
        </thead>

        <tbody class="centered">
          <tr *ngFor="let item of selecaoExportar">
            <td>{{ item.produto.id }}</td>
            <td>{{ item.produto.descricaop }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.fornecedor.razaosocial }}</td>
            <td>{{ item.preco | currency: "BRL" }}</td>
            <td>{{ item.preco * item.quantidade | currency: "BRL" }}</td>
            <hr />
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col s12 m12 l12 container-selecao">
      <a
        (click)="exportarexcel()"
        class="waves-effect waves-light btn-small blue darken-4"
      >
        Baixar Planilha
      </a>
    </div>
    </div>
  </main>
  <div class="row col s12 m12 l12 btnVoltar">
    <a [routerLink]="['/catalogo', usuario.id]" class=" waves-effect waves-light btn-small blue">
      
      <i class="material-icons left">arrow_back</i>
      voltar
    </a>
  </div>
</main>

<app-footer></app-footer>
