.tituloOrcamento {
  font-size: 40px;
  text-align: center;
  margin-bottom: 5%;
}

.container-selecao {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.btnVoltar {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.sublineado{
  min-height: 39px;
  border-bottom: 0.5px solid rgb(179, 195, 229)
}

.adjusted-font {
  font-size: max(1vw, 10px);
  padding: 0.8vw 0.1vw;
}

.zero-padding {
  padding: 0;
}
