<main class="container">
  <router-outlet></router-outlet>
  <div class="row">
    <table>
      <thead>
        <tr >
          <th>CÓDIGO</th>
          <th>NOME PRODUTO</th>
          <th>QUANTIDADE</th>
          <th> FORNECEDOR</th>
          <th> UNIÁRIO </th>
          <th> QUANTITATIVO </th>
        </tr>
      </thead>

    
      <tbody>
        
        <tr *ngFor="let item of selecao">
          <td>{{ item.produto.id }}</td>
          <td>{{ item.descricaop }}</td>
          <td>{{ item.quantidade }}</td>
          <td>
            <ng-container *ngFor="let prodForn of item.produtoFornecedor">
              <div>
                <td>{{ prodForn.fornecedor.razaosocial}}</td>
              </div>
            </ng-container>
          </td>
          <td>
            <ng-container *ngFor="let prodForn of item.produtoFornecedor">
              <div>
                <td>{{ prodForn.preco}}</td>
              </div>
            </ng-container>
          </td>
          <td>
            <ng-container *ngFor="let prodForn of item.produtoFornecedor">
              <div>
                <td>{{ prodForn.preco*item.quantidade}}</td>
              </div>
            </ng-container>
          </td>
        </tr>
      
      </tbody>
    </table>
  </div>
</main>
