<app-header></app-header>
<main>
  <div class="container" style="padding-top: 5%">
    <div class="row zerarMargem bg-azul">
      <h3 class="tituloCatalogo h3-azul-oscuro" style="margin-left: 5%">
        Selecione os produtos que deseja orçar
      </h3>
    </div>

    <div class="row">
      <!-- <div class="col s12 m6">
        <form action="#">
          <div class="file-field input-field">
            <div class="btn blue">
              <span>inserir arquivo</span>
              <input type="file" multiple />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate upload" type="text" placeholder="Suba sua planilha de orçamento" />
            </div>
          </div>
          <div class="planilha">Baixar planilha modelo para preencher</div>
        </form>
      </div> -->

      <div class="search s12 m6">
        <form class="col s12 m12">
          <div class="search">
            <div class="input-field">
              <i class="material-icons prefix blue-text">search</i>
              <input
                id="icon_prefix2"
                class="materialize-textarea"
                type="text"
                (input)="procurarProdutos($event)"
              />
              <label for="icon_prefix2"
                >Buscar produtos por nome, marca, código...</label
              >
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <!-- altera responsividade do card -->
      <div class="col s12 m6 l4" *ngFor="let prod of produtos">
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{ prod.imagem }}" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{ prod.id }}</p>
              <p>
                <b>{{ prod.descricaop }}</b>
              </p>
              <p>{{ prod.marca }}</p>
              <p>{{ prod.categoria.descricaoc }}</p>
              <p class="card-action">
                <label>
                  <input
                    type="checkbox"
                    name="checkbox"
                    (click)="selecionarItem(prod)"
                    [checked]="prod.selecionado"
                  />
                  <span class="blue-text">Selecionar</span>
                </label>
                <label>
                  <input
                    [(ngModel)]="prod.quantidade"
                    type="number"
                    min="1"
                    name="quantidade"
                    id="quantidade"
                    placeholder="1"
                    class="input-mobile"
                  />
                </label>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="container">
      <router-outlet></router-outlet>
      <div class="row">
        <table>
          <thead>
            <tr>
              <th>CÓDIGO</th>
              <th>NOME PRODUTO</th>
              <th>QUANTIDADE</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of listaSelecao">
              <td>{{ item.id }}</td>
              <td>{{ item.descricaop }}</td>
              <td>{{ item.quantidade }}</td>
              <!-- <td>[(item.quantidade)]</td> -->
              <td>
                <button
                  (click)="selecionarItem(item)"
                  class="btnOrcar waves-effect waves-light btn-small blue darken-4"
                >
                  <i class="medium material-icons">delete </i>
                </button>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <a
      class="btnOrcar waves-effect waves-light btn-small blue darken-4"
      (click)="criarOrcamento()"
    >
      Solicitar orçamento
    </a>
  </div>
</main>
<app-footer></app-footer>
