<app-header></app-header>
<main>
    <div class="container" style="padding-top: 5%;">
      <div class="row zerarMargem bg-azul">
        <h3 class="tituloCatalogo h3-azul-oscuro" style="margin-left:5%;">Selecione os produtos que deseja orçar</h3>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <form action="#">
            <div class="file-field input-field">
              <div class="btn blue">
                <span>File</span>
                <input type="file" multiple>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate upload" type="text" placeholder="Suba sua planilha de orçamento">
              </div>
            </div>
            <div class="planilha">Baixar planilha modelo para preencher</div>
          </form>
        </div>

        <div class="search  s12 m6">
          <form class="col s12 m6">
            <div class="search">
              <div class="input-field ">
                <i class="material-icons prefix blue-text">search</i>
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Buscar produtos por nome, marca, código...</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4" *ngFor="let prod of produtos">
          <div class="card horizontal">
            <div class="card-image">
              <img src={{prod.imagem}} width="100px" height="100px">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>{{ prod.id}}</p>
                <p><b>{{ prod.descricaop }}</b></p>
                <p>{{ prod.marca }}</p>
                <p>{{ prod.categoria.descricaoc}}</p>
                <p class="card-action">
                  <label>
                    <input type="checkbox" />
                    <span class="blue-text">Selecionar</span>
                    <input type="number" name="quantidade" id="quantidade" placeholder="0">
                  </label>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-selecao></app-selecao>
       <a class=" btnOrcar waves-effect waves-light btn-small  blue darken-4">
        <i class="material-icons right">file_download</i>
        Solicitar orçamento
      </a>
    </div>
  </main>
<app-footer></app-footer>
