<body>
  <main>
    <div class="container">
      <!-- início header -->
      <div class="row margem zerarMargem bg-azul">
        <img
          class="col s6 m2 margem"
          src="../../assets/img/sugestao_logo.png"
          width="100px"
        />
        <a
          href="#login"
          class="col s3 m2 margem waves-effect waves-light btn-small blue right ajusteBotao"
        >
          ENTRAR
        </a>
      </div>
      <!-- fim header -->

      <!-- início banner de topo -->
      <div class="row zerarMargem bg-azul">
        <div class="col s12 m8">
          <h1 class="h1-azul">
            Encontre os melhores <span class="h1-italic-azul">preços</span> para
            o <span class="h1-italic-azul">orçamento</span> da sua obra em um
            click!
          </h1>
          <a
            href="#assinatura"
            class="waves-effect waves-light btn-small blue darken-4"
          >
            Comece agora!
          </a>
        </div>
        <img
          class="col s10 m4 center-align"
          width="100px"
          src="../../assets/upload-home/1-removebg-preview (1).png"
        />
      </div>
      <div class="box-inferior"></div>
      <!-- fim banner de topo -->

      <!-- início da seçao plataforma -->
      <div class="row margem margem-secao margem-secao-2">
        <img
          class="col s10 m4 center-align"
          width="100px"
          src="../../assets/upload-home/2-removebg-preview (2).png"
        />

        <div class="col s12 m8">
          <h2 class="h2-azul-oscuro">A Plataforma</h2>
          <p class="texto-secao">
            Com apenas um click, tenha acesso aos materiais que vão ser usados
            em sua obra, escolha <b>cores</b>, <b>marcas</b>, <b>modelos</b> e
            tudo o que for utilizar na sua construção. Nossa plataforma vai lhe
            ajudar a <b>comparar preços</b> e indicar onde vai ser mais
            vantajoso para realizar a sua compra. Assim você economiza tempo e
            dinheiro. <b>OrçaFast</b> construindo com você.
          </p>
        </div>
      </div>
      <!-- fim seção plataforma -->

      <!-- início seção diferenciais da plataforma -->
      <div class="row margem-secao margem-secao-2 ajusteCard">
        <div class="col s12 m4 center-align bg-card-1 ajuste-card">
          <img
            src="../../assets/upload-home/4-removebg-preview (2).png"
            width="30%"
            alt="ilustração de uma carteira aberta com dinheiro e cartões"
            class="padding-img"
          />
          <h3 class="h3-indigo">Melhor Custo Benefício</h3>
          <p>
            Compare fornecedores, marcas e produtos tudo pela tela do
            computador, você ganha tempo na pesquisa de preço e mais
            <b>economia</b> na sua obra.
          </p>
        </div>

        <div class="col s12 m4 center-align bg-card-2 ajuste-card">
          <img
            src="../../assets/upload-home/3-removebg-preview (2).png"
            width="30%"
            alt="ilustração de uma flor dentro de um vaso e uma nota de dinheiro em frente"
            class="padding-img"
          />
          <h3 class="h3-indigo">Responsabilidade Ambiental</h3>
          <p>
            Possibilitamos a você a comodidade de se conectar com os
            fornecedores sem sair de casa, reduzindo as emissões de carbono e
            desperdício de tempo e recursos. Proporcionando dessa forma a
            <b>diminuição dos impactos ambientais</b> e apostando em um mundo
            melhor e mais sustentável.
          </p>
        </div>

        <div class="col s12 m4 center-align bg-card-3 ajuste-card">
          <img
            src="../../assets/upload-home/5-removebg-preview (1).png"
            width="30%"
            alt="ilustração de uma balança. De um lado da balança existe um relógio e do outro lado uma moeda com um cifrão"
            class="padding-img"
          />
          <h3 class="h3-indigo">Orçamentos 10x Mais Rápido</h3>
          <p>
            Comece a sua obra sem dor de cabeça e ainda economize tempo. Com a
            <b>OrçaFast</b> você compara os preços e monta o seu orçamento de
            materiais de construção com rapidez e segurança em poucos passos.
          </p>
        </div>
      </div>
      <!-- fim seção diferenciais da plataforma -->

      <!-- início seção conheca nossos parceiros -->
      <div class="row">
        <h2 class="h2-azul-oscuro tituloEquipe">Fornecedores parceiros</h2>

        <div class="col s6 m3 margemInferior center-align">
          <img
            src="../../assets/upload-home/apache.jpeg"
            class="circle responsive-img"
          />
        </div>

        <div class="col s6 m3 margemInferior center-align">
          <img
            src="../../assets/upload-home/casaok.jpeg"
            class="circle responsive-img"
          />
        </div>

        <div class="col s6 m3 margemInferior center-align">
          <img
            src="../../assets/upload-home/jm.jpeg"
            class="circle responsive-img"
          />
        </div>

        <div class="col s6 m3 margemInferior center-align">
          <img
            src="../../assets/upload-home/macro.jpeg"
            alt=""
            class="circle responsive-img"
          />
        </div>
      </div>
      <!-- fim da seção conheca nossos parceiros -->

      <!-- inicio seção seja um parceiro -->
      <div class="row zerarMargem bg-azul">
        <div class="col s12 m8">
          <h1 class="h2-azul-oscuro">
            Seja um Parceiro Orça<span class="h2-italic-azul">Fast</span>
          </h1>
          <p class="texto-secao">
            <b>
              Aumente em <b>80%</b> a visibilidade do seu negócio com a
              plataforma <span>OrçaFast</span>. Você e o seu cliente conectados
              a um click.
            </b>
          </p>
          <p class="texto-secao">
            Cadastre-se ocomo parceiro <b>OrçaFast</b> e seja destaque!
          </p>
          <a
            target="_blank"
            href="https://wa.me/5571987231428?text=Seja+bem+vindo+a+Or%C3%A7aFast%21"
            class="waves-effect waves-light btn-small blue darken-4"
          >
            Quero ser um parceiro
          </a>
        </div>
        <img
          class="col s10 m4 center-align"
          width="100px"
          src="../../assets/upload-home/foto_sejaparceiro.png"
        />
      </div>

      <!-- fim seção seja um parceiro -->

      <!-- inicio seçao formularios -->
      <div class="row margem">
        <div class="col s12 m5 margem">
          <div class="card-panel box-form bg-card-1" id="login">
            <h3 class="h3-indigo">Acessar a Plataforma</h3>
            <p>Faça seu login e comece a economizar:</p>

            <form #f="ngForm" (ngSubmit)="logar(f.value)">
              <div class="input-field">
                <i class="material-icons prefix blue-text">login</i>
                <input
                  id="email"
                  type="email"
                  class="validate"
                  ngModel
                  name="email"
                />
                <label for="email">E-mail</label>
                <span class="helper-text" data-error="insira e-mail no formato: nome@email.com" data-success=""></span>
              </div>
              <div class="input-field">
                <i class="material-icons prefix blue-text">password</i>
                <input
                  id="senha"
                  type="password"
                  class="validate"
                  ngModel
                  name="senha"
                />
                <label for="senha">Senha</label>
              </div>
              <a href="#" class="col s12 links ajusteEsqueciSenha"
                >Esqueci a senha</a
              >
              <button class="margem waves-effect waves-light btn-small blue">
                ENTRAR
              </button>
            </form>
          </div>
        </div>

        <div class="col s12 m7 margem">
          <div class="card-panel box-form" id="assinatura">
            <h3 class="h3-indigo">Solicitar Assinatura</h3>
            <p class="">
              Preencha o formulário abaixo e aguarde o contato da nossa equipe.
            </p>

            <form method="post">
              <div class="input-field">
                <i class="material-icons prefix blue-text">face</i>
                <input id="nomeCompleto" type="text" class="validate" />
                <label for="nomeCompleto">Nome completo do solicitante</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix blue-text">mail</i>
                <input id="email" type="email" class="validate" />
                <label for="email">E-mail</label>
                <span class="helper-text" data-error="insira e-mail no formato: nome@email.com" data-success=""></span>
              </div>
            </form>

            <a (click)="ativaToast()" class="margem waves-effect waves-light btn-small blue darken-4"
              >ENVIAR</a
            >
          </div>
        </div>
      </div>
      <!-- fim seçao formularios -->

      <!-- início seção equipe -->
      <div class="box-inferior-equipe bg-azul"></div>

      <div class="row bg-azul">
        <h2 class="h2-azul-oscuro tituloEquipe">Conheça Nossa Equipe</h2>

        <div class="col s4 m3 margemInferior center-align">
          <img
            src="../../assets/upload-equipe/emile.jpg"
            class="circle responsive-img"
          />
          <div class="boxName">
            <h6 class="center-align">Emile Ramos</h6>
            <p>Product Owner</p>
          </div>
        </div>

        <div class="col s4 m3 margemInferior center-align">
          <img
            src="../../assets/upload-equipe/gustavo.jpg"
            class="circle responsive-img"
          />
          <div class="boxName">
            <h6 class="center-align">Gustavo Ghisi</h6>
            <p>Developer</p>
          </div>
        </div>

        <div class="col s4 m3 margemInferior center-align">
          <img
            src="../../assets/upload-equipe/kati.jpg"
            class="circle responsive-img"
          />
          <div class="boxName">
            <h6 class="center-align">Katiane Griza</h6>
            <p>Developer</p>
          </div>
        </div>

        <div class="col s4 m3 margemInferior center-align">
          <img
            src="../../assets/upload-equipe/lu.jpg"
            class="circle responsive-img"
          />
          <div class="boxName">
            <h6 class="center-align">Luciana Bacelar</h6>
            <p>Developer</p>
          </div>
        </div>

        <div
          class="col s4 m3 primeiraImgMargin imgEquipeMargin margemInferior center-align"
        >
          <img
            src="../../assets/upload-equipe/maria.jpg"
            alt=""
            class="circle responsive-img"
          />
          <div class="boxName">
            <h6 class="center-align">Maria Caldéz</h6>
            <p>Developer</p>
          </div>
        </div>

        <div class="col s4 m3 imgEquipeMargin margemInferior center-align">
          <img
            src="../../assets/upload-equipe/ester.jpg"
            alt=""
            class="circle responsive-img"
          />
          <div class="boxName">
            <h6 class="center-align">Maria Ester</h6>
            <p>Analyst</p>
          </div>
        </div>

        <div class="col s4 m3 imgEquipeMargin margemInferior center-align">
          <img
            src="../../assets/upload-equipe/mika.jpg"
            alt=""
            class="circle responsive-img"
          />
          <div class="boxName">
            <h6 class="center-align">Mikaelem Oliveira</h6>
            <p>Scrum master</p>
          </div>
        </div>
      </div>
      <!-- fim da seção equipe -->
    </div>
    <!-- fim container -->
  </main>
</body>

<app-footer></app-footer>

<!-- Navegação entre as páginas -->
<router-outlet></router-outlet>
